body {
	margin: 0px;
}

form {
	display: inline;
	margin: 0px;
}

div.divImage {
	position: relative;
	top: 0;
	left: 0;
}

img.hero {
	position: relative;
	top: 0;
	left: 0;
}

img.archetype {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 35px;
	height: 35px;
	
}

.archetype {
/* 	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80)); */
	-webkit-filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	
}

.archetype:hover {
	/*-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));*/
/* 	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8)); */
}

/*
img.archetype {
	width: 75px;
	height: 75px;
}*/

img.expansion {
	width: 100%;
}

img.header {
	width: 20px;
}

img.die {
	width: 20px;
}

.die {
	-webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	
}

.die:hover {
	/*-webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.80));*/
}

td.num {
	text-align: center;
	font-size: 20pt;
}

td.expansion {
	text-align: center;
	font-size: 16pt;
	font-family: "Adobe Garamond Pro", Garamond;
}

table {
	margin-left:auto;
	margin-right:auto;
}

table thead tr{
	display:block;
}
table.healer tr.healer {
	display:table-row;
}
table.mage tr.mage {
	display:table-row;
}
table.scout tr.scout {
	display:table-row;
}
table.warrior tr.warrior {
	display:table-row;
}

/*
table th, table td{
	width:100px; //fixed width
}*/

table th.expansion, table td.expansion{
	/*width:75px;*/
	min-width:28px;
	max-width:28px;
}

table th.hero, table td.hero{
	min-width:96px;
	max-width:96px;
}

table th.image, table td.image{
	min-width:100px;
	max-width:100px;
}

table th.archetype, table td.archetype{
	min-width:75px;
	max-width:75px;
	text-align: center;
}

table th, table td {
	/*padding: 0px;*/
}

table th.num, table td.num{
	/*width:35px;*/
	min-width:27px;
	max-width:27px;
}

table th.ability, table td.ability{
	width:300px;
}

table th.heroic, table td.heroic{
	width:300px;
}

table thead{
	display:block;
	height:59px;
	overflow:auto;
}

table tbody{
	display:block;
	height:calc(99.5vh - 59px - 28px);
	overflow:auto;
}

table tfoot{
	display:block;
	width:100%;
	height:24px;
	overflow:visible;
	/*overflow:hidden;*/
	padding: 0px;
}

table tfoot tr{
	width: 100%;
}

table tfoot td{
	padding: 0px;
	margin: 0px;
}

select {
	border: 0px;
	width: 100%;
	text-indent: 1px;
	text-overflow: '';
}

select.normal {
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

select.blank {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.donateArea {
	white-space: nowrap;/*
	min-width: 160px;
	max-width: 160px;*/
}

.donate {
	height:22px;
}

.fees {
	padding-left: 10px;
	/*min-width: 515px;*/
	width: 99%;
	/*max-width: 943px;*/
	/*display: block;*/
	font-weight: bold;
}

.version {
	/*min-width: 515px;*/
	width: 99%;
	/*max-width: 943px;*/
	/*display: block;*/
	text-align: right;
	font-weight: bold;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	font-weight: bold;
    visibility: hidden;
    width: 400px;
    height: 285px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}